* {
    box-sizing: border-box;
}
body{
    overflow: hidden;
    background-color: #555555;
}

#root{
    display: flex;
    flex-direction: column;
    justify-content: center;
    resize: vertical;
    overflow: auto;
    height: 100vh;
    align-items: center;
    font-size: 5rem;
    box-shadow: 0 0 10rem 2rem #000 inset
}

.arrow-icon{
    font-size: 5rem;
    margin-top: 3.5rem;
    color:aliceblue;
    align-self: center;
}

.box{
    display: inline-block;
    overflow: hidden;
    width: 12rem;
    height: 12rem;
    border-radius: 10px;
    box-shadow: 3px 5px 10px #000;
}